.logout {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-image: url('./../../../assets/pozadina.jpg');
    opacity: 70%;
    box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    text-decoration: none;
    color: #2b2d3d;
    padding: 1%;
    padding-bottom: 7%;
    margin: 5% 10%;
    font: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.logout button {
    width: 20%;
    -moz-box-shadow: inset 0px 1px 0px 0px #333333;
    -webkit-box-shadow: inset 0px 1px 0px 0px #333333;
    box-shadow: inset 0px 1px 0px 0px #333333;
    background-color: #545871;
    border: 1px solid #333333;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-left: 40%;
    margin-right: 50%;
}

button:hover {
    background-color: #9497a7;
    color: #545871
}