p {
    text-align: center;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: auto;
    height: fit-content;
    background-image: url('./../../../assets/pozadina.jpg');
    background-size: contain;
    opacity: 70%;
    box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    text-decoration: none;
    color: #000000;
    padding: 1%;
    padding-bottom: 2%;
    margin: 10% 10%;
    font: 16px;
    font-size: large;
    font-weight: bolder;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}