#container {
    margin-left: 5%;
    margin-right: 5%;
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
}

.cat-dog {
    text-align: center;
    background-color: #545871;
    border-style: solid;
    border-color: #545871;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f0f1f8;
    transition: transform .2s;
    border-radius: 20%;
    margin: 20px;
    box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
}

.cat-dog:hover {
    transform: scale(1.2)
}

.div-all {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
}

.div-input {
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    background-image: url('../../../../assets/pozadina.jpg');
    opacity: 70%;
    box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    text-decoration: none;
    color: #2b2d3d;
    padding: 1%;
    padding-bottom: 6%;
    margin: 3% 5%;
    font: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.div-select {
    padding: 0px 18px;
    margin-left: 10%;
    margin-right: 10%;
    width: 50%;
    background-image: url('../../../../assets/pozadina.jpg');
    opacity: 70%;
    box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(212, 185, 185, 0.22);
    text-decoration: none;
    color: #2b2d3d;
    padding: 1%;
    padding-bottom: 10%;
    margin: 3% 5%;
    font: 16px;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: center;
}

.div-input input {
    position: relative;
    font-size: 1.3em;
    background: #545871;
    padding: 3px;
    display: inline-flex;
    border-radius: 9999em;
}

.div-select select {
    position: relative;
    font-size: 1.3em;
    background: #545871;
    padding: 3px;
    display: inline-flex;
    border-radius: 9999em;
}

.top-btn {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    -moz-box-shadow: inset 0px 1px 0px 0px #333333;
    -webkit-box-shadow: inset 0px 1px 0px 0px #333333;
    box-shadow: inset 0px 1px 0px 0px #333333;
    background-color: #545871;
    border: 1px solid #333333;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin-bottom: 5%;
}

button:hover {
    background-color: #9497a7;
    color: #545871
}

.pagination {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding: 2%;
}

.pagination button {
    -moz-box-shadow: inset 0px 1px 0px 0px #333333;
    -webkit-box-shadow: inset 0px 1px 0px 0px #333333;
    box-shadow: inset 0px 1px 0px 0px #333333;
    background-color: #545871;
    border: 1px solid #333333;
    border-radius: 50%;
    cursor: pointer;
    color: #FFFFFF;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 14px;
    padding: 8px 18px;
    text-decoration: none;
    text-transform: uppercase;
    margin: 1%;
}